* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 16px;
    padding: 50px 400px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: rgb(83, 80, 255);
    border-radius: 10px;
    width: 200px;
    height: 250px;
    padding: 20px;
}

.book .title { 
  margin-bottom: auto;
}

.book div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.book button {
  background-color: white;
  color: rgb(83, 80, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
}

.book button:active {
  transform: scale(0.95);
}

.read {
  filter: brightness(80%);
}

#add-book-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: rgb(83, 80, 255);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 40px;
    cursor: pointer;
}   

#add-book-btn:hover {
  transform: scale(0.99);
}

#add-book-btn:active {
  transform: scale(0.95);
}

/* Style the dialog box itself */
#book-dialog {
  border: none;
  border-radius: 12px;
  padding: 24px;
  background-color: white;
}

#book-dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#book-dialog::backdrop {
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(1px);    
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#book-form input {     
  border: none;
  background-color: #e9e9e9;
  border-radius: 6px;
  height: 30px;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

#book-form label {
  font-family: Arial, Helvetica, sans-serif;
}

#book-form .form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

#book-form .form-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#book-form button {
  background-color: rgb(83, 80, 255);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
